body {
    background-color: ghostwhite;
}



.singleCard {
    width: 900px;
    border: .2em solid lightgray;
    text-align: center;

}

.cityImage {
    border-radius: 10px;
    padding: 5px;
    height: 150px;
}
p {
    font-family: inherit;
    font-weight: 500;
}